<!DOCTYPE HTML>

<html>
  <head>
  </head>
  <body>
    <header>
      <h1>Hello, <%= name %>!</h1>
    </header>
    <main>
      <h3><%= title %> what a great title for this setting.</h3>
    </main>
    <footer>
      &copy; <%= copyRightName %>
    </footer>
  </body>
</html>
